.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
}
.topbaricon{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.topicon{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;


}